.spreadsheet-page {
  display: flex;
  align-items: stretch;
  gap: 16px;
}

.spreadsheet-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.spreadsheet-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.spreadsheet-container table {
  width: 100%;
  border-collapse: collapse;
}

.spreadsheet-container th,
.spreadsheet-container td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.basic-info th {
  background-color: #cfe2f3;
}

.communication th {
  background-color: #ea9999;
}

.test-review th {
  background-color: #d9ead3;
}

.lesson-details th {
  background-color: #fff2cc;
}

.homework-assignments th {
  background-color: #fce5cd;
}

.next-test th {
  background-color: #ead1dc;
}

.student-status th {
  background-color: #e6b8af;
}

.lesson-plan th {
  background-color: #c9daf8;
}
