.spreadsheet-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.spreadsheet-column {
  margin: 10px;
  box-sizing: border-box;
  font-size: 12px;
}

.report-header {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.edit {
  font-size: 20px;
  margin-left: 10px;
}

.post-report {
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 5px 5px;
  text-align: left;
  white-space: normal;
}

.table-textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}

.basic-info th,
.basic-info td,
.communication th,
.communication td,
.test-review th,
.test-review td,
.lesson-details th,
.lesson-details td,
.homework-assignments th,
.homework-assignments td,
.next-test th,
.next-test td,
.student-status th,
.student-status td,
.lesson-plan th,
.lesson-plan td {
  padding: 5px 5px;
}

.basic-info th {
  background-color: #cfe2f3;
}

.communication th {
  background-color: #ea9999;
}

.test-review th {
  background-color: #d9ead3;
}

.lesson-details th {
  background-color: #fff2cc;
}

.homework-assignments th {
  background-color: #fce5cd;
}

.next-test th {
  background-color: #ead1dc;
}

.student-status th {
  background-color: #e6b8af;
}

.lesson-plan th {
  background-color: #c9daf8;
}
